<!DOCTYPE html>
<html>
<head>
    <title>ArDrone Controller</title>
    <script type="text/javascript" src="../js/angular.js"></script>
    <script type="text/javascript" src="../js/ardone-controller.js"></script>
    <script type="text/javascript" src="../js/ui-utils.js"></script>
</head>
<body>
    <div ng-app="controller">
        <div ng-controller="CommandController">
            <div style="width: 400px">
                <div style="float: left">
                    <textarea style="border: 1px solid black; width: 100px; height: 100px;" ui-keypress="{up:'throttleUp()', down: 'throttleDown()', left:'yawLeft()', right:'yawRight()', 84: 'takeoff()', esc: 'emergency()'}"></textarea>
                </div>
                <div style="float: right">
                    <input type="button" value="Takeoff" ng-click="takeoff()"><br/>
                    <input type="button" value="Land" ng-click="land()"><br/>
                    <input type="button" value="Hover" ng-click="hover()"><br/>
                    <input type="button" value="Emergency" ng-click="emergency()"><br/>
                </div>
            </div>
        </div>
    </div>
</body>
</html>